body {
	font-family: Verdana;
	font-size: 10px;
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
}

#templates {
	display: none;
}

#currentstate {
	border: 1px solid grey;
}

#logger {
	border: 1px solid grey;
	white-space: pre;
}

.player {
	margin: 5px;
}

.key {
	display: inline-block;
	width: 200px;
	color: light-grey;
}

.value {
	display: inline-block;
}